{% extends "base.html" %}

{% macro release_table(releases, show_latest=True) %}
  <table cellspacing="0">
    {% for release in releases[:10] %}
      <tr>
        <td data-label="Version">{{ release.version }}{% if show_latest and loop.first %} (latest){% endif %}</td>
        <td data-label="Mac">
          <i class="icon apple"></i>
          {% if release.mac_universal %}
            <a href="{{ release.mac_universal }}">Mac Universal</a>
          {% endif %}
          {% if release.mac_arm %}
            <a href="{{ release.mac_arm }}">Mac Arm</a>
          {% endif %}
          {% if release.mac_intel %}
            <a href="{{ release.mac_intel }}">Mac Intel</a>
          {% endif %}
        </td>
        <td data-label="Windows">
          <span style="white-space:nowrap;">
            <i class="icon windows"></i>
            {% if release.windows %}
              <a href="{{ release.windows }}">Windows</a>
            {% endif %}
          </span>
        </td>
        <td data-label="Linux">
          {%if release.linux_appimage or release.linux_snap %}
            <i class="icon linux"></i>
            {% if release.linux_appimage %}
              <a href="{{ release.linux_appimage }}">AppImage</a>
            {% endif %}
            {% if release.linux_snap %}
              <a href="{{ release.linux_snap }}">Snap</a>
            {% endif %}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endmacro %}

{% block body_class %}index{% endblock %}

{% block content %}
  <header>
    <div class="container">
      <div class="header-content">
        <div class="logo-links">
          <h1 class="logo">Heynote</h1>
          <ul class="links">
            {#<li><a href="#downloads">Downloads</a></li>#}
            <li><a href="/docs">Documentation</a></li>
            <li>
              <a href="https://github.com/heyman/heynote/">Source Code<i class="icon-github"></i></a>
            </li>
          </ul>
        </div>

        <h2>A dedicated scratchpad<br><span style="white-space:nowrap;">for <span id="tagline-user-category">developers</span></span></h2>

        <div class="download-buttons">
          <div class="button-container">
            <div class="button-with-dropdown apple">
              <a href="{{ releases[0].mac_universal }}" class="apple-icon">
                Download
                <span class="platform">Mac Universal</span>
              </a>
              <span class="dropdown-button"></span>
              <div class="dropdown">
                <a href="{{ releases[0].mac_universal }}" class="apple-icon">Mac Universal</a>
                <a href="{{ releases[0].mac_arm }}" class="apple-icon">Mac Arm</a>
                <a href="{{ releases[0].mac_intel }}" class="apple-icon">Mac Intel</a>
                <a href="{{ releases[0].windows }}" class="windows-icon">Windows</a>
                <a href="{{ releases[0].linux_appimage }}" class="linux-icon">Linux AppImage</a>
              </div>
            </div>

            <div class="button-with-dropdown windows">
              <a href="{{ releases[0].windows }}" class="windows-icon">
                Download
                <span class="platform">Windows</span>
              </a>
              <span class="dropdown-button"></span>
              <div class="dropdown">
                <a href="{{ releases[0].windows }}" class="windows-icon">Windows</a>
                <a href="{{ releases[0].mac_universal }}" class="apple-icon">Mac Universal</a>
                <a href="{{ releases[0].mac_arm }}" class="apple-icon">Mac Arm</a>
                <a href="{{ releases[0].mac_intel }}" class="apple-icon">Mac Intel</a>
                <a href="{{ releases[0].linux_appimage }}" class="linux-icon">Linux AppImage</a>
              </div>
            </div>

            <div class="button-with-dropdown linux">
              <a href="{{ releases[0].linux_appimage }}" class="linux-icon">
                Download
                <span class="platform">Linux AppImage</span>
              </a>
              <span class="dropdown-button"></span>
              <div class="dropdown">
                <a href="{{ releases[0].linux_appimage }}" class="linux-icon">Linux AppImage</a>
                <a href="{{ releases[0].windows }}" class="windows-icon">Windows</a>
                <a href="{{ releases[0].mac_universal }}" class="apple-icon">Mac Universal</a>
                <a href="{{ releases[0].mac_arm }}" class="apple-icon">Mac Arm</a>
                <a href="{{ releases[0].mac_intel }}" class="apple-icon">Mac Intel</a>
              </div>
            </div>

            {#<a href="{{ releases[0].mac_universal }}" class="button windows">
              Download
              <span class="platform">Windows</span>
            </a>#}
          </div>

          <a href="#downloads" class="more">More versions</a>
          
          <label for="theme-toggle-checkbox" class="theme-toggle" id="theme-toggle">
            <input type="checkbox" class="checkbox" id="theme-toggle-checkbox" />
            <div class="slider">
              <div class="moon"></div>
              <div class="sun"></div>
            </div>
          </label>
        </div>
      </div>
      <div class="screenshot-container">
        <picture>
          <source srcset="img/dark/screenshot2.png" media="(prefers-color-scheme: dark)">
          <!-- media attribute can be set to "none" or "all" to manually force the image -->
          <img src="img/light/screenshot2.png" alt="Screenshot of Heynote" class="screenshot">
        </picture>
      </div>
    </div>
    <i class="bg-container">
      <i class="bg"></i>
    </i>
  </header>

  <section class="features">
    <div class="feature">
      <div class="text">
        <h3>Text buffers, divided into blocks</h3>
        <p>
          At its core, Heynote is a large, persistent text buffer divided into blocks. 
          Creating a new block is as easy as pressing <span class="key"><span class="cmd-key">⌘</span>-Enter</span>, 
          and pressing <span class="key"><span class="cmd-key">⌘</span>-A</span> within 
          a block selects the content of just that block.
        </p>
        <p>
          Works great for that Slack message you don't want to accidentally send, a JSON response 
          from an API you're working with, notes from a meeting, your daily to-do list, etc.
        </p>
      </div>
      <div class="image-container">
        <picture>
          <source srcset="img/dark/blocks.png" media="(prefers-color-scheme: dark)">
          <img src="img/light/blocks.png" alt="Screenshot of blocks" class="image">
        </picture>
      </div>
    </div>

    <div class="feature">
      <div class="text">
        <h3>Syntax highlighting and auto-format</h3>
        <p>
          Each block can have its own Language set (e.g. JavaScript, JSON, Markdown, etc.). 
          You get syntax highlighting and you can auto-format blocks.
        </p>
        <p>
          Heynote supports a range of different programming languages.
        </p>
      </div>
      <div class="image-container">
        <picture>
          <source srcset="img/dark/languages.png" media="(prefers-color-scheme: dark)">
          <img src="img/light/languages.png" alt="Screenshot of language selector" class="image">
        </picture>
      </div>
    </div>

    <div class="feature">
      <div class="text">
        <h3>A calculator scratchpad</h3>
        <p>
          Math blocks are calculator scratch pads that can be used for simple calculations. 
          They also support variables, functions and unit conversions (including currencies).
          Great for some quick napkin math!
        </p>
      </div>
      <div class="image-container">
        <picture>
          <source srcset="img/dark/math.png" media="(prefers-color-scheme: dark)">
          <img src="img/light/math.png" alt="Screenshot of math block" class="image">
        </picture>
      </div>
    </div>

    <div class="feature">
      <div class="text">
        <h3>Multiple note buffers</h3>
        <p>
          Apart from the default Scratch buffer, you can create as many note buffers as you like.
          Press <span class="key"><span class="cmd-key">⌘</span>-N</span> to create a brand new buffer, and press 
          <span class="key"><span class="cmd-key">⌘</span>-S</span> to move the current block into a new buffer. 
          Use <span class="key"><span class="cmd-key">⌘</span>-P</span> to quickly switch between buffers.
        </p>
        <p>
          Buffers can be organized into directories, and each buffer corresponds to a file on disk.
        </p>
      </div>
      <div class="image-container">
        <picture>
          <source srcset="img/dark/buffers.png" media="(prefers-color-scheme: dark)">
          <img src="img/light/buffers.png" alt="Screenshot of blocks" class="image">
        </picture>
      </div>
    </div>

  </section>

  <section class="downloads" id="downloads">
    <div class="container">
      <h3>Downloads</h3>
      {{ release_table(releases) }}

      <div class="beta-versions">
        <h4>Beta Versions</h3>
        {{ release_table(prereleases, show_latest=False) }}
      </div>

      <a href="https://github.com/heyman/heynote/releases/" class="all-releases">
        All releases ({{ releases|length }})<i class="icon-external"></i>
      </a>
    </div>
  </section>
{% endblock %}

{% block script %}
  <script>
    // select which download button to show in header
    const platform = window.navigator?.userAgentData?.platform || window.navigator.platform;
    if (platform.indexOf("Win") !== -1) {
      document.querySelector(".download-buttons .apple").style.display = "none";
      document.querySelector(".download-buttons .linux").style.display = "none";
      document.querySelector(".download-buttons .windows").style.display = "flex";
      document.querySelectorAll(".cmd-key").forEach((el) => el.innerHTML = "Ctrl");
    } else if (platform.indexOf("Linux") !== -1) {
      document.querySelector(".download-buttons .apple").style.display = "none";
      document.querySelector(".download-buttons .windows").style.display = "none";
      document.querySelector(".download-buttons .linux").style.display = "flex";
      document.querySelectorAll(".cmd-key").forEach((el) => el.innerHTML = "Ctrl");
    } else {
      document.querySelector(".download-buttons .apple").style.display = "flex";
      document.querySelector(".download-buttons .windows").style.display = "none";
      document.querySelector(".download-buttons .linux").style.display = "none";
      document.querySelectorAll(".cmd-key").forEach((el) => el.innerHTML = "⌘");
    }

    // dropdown button
    document.querySelectorAll(".button-with-dropdown").forEach((el) => {
      el.querySelector(".dropdown-button").addEventListener("click", (e) => {
        e.preventDefault();
        e.stopPropagation();
        el.classList.toggle("open");
      });
    });
  </script>

  <script src="/js/lib/typed.umd.js"></script>
  <script>
    console.log(document.querySelector("#tagline-user-category"))
    document.querySelector("#tagline-user-category").innerText = "";
    var typed = new Typed("#tagline-user-category", {
      strings: ["^300 developers", "researchers", "creators", "hackers", "power users", "you^1000"],
      typeSpeed: 50,
      backSpeed: 30,
      backDelay: 1000,
      loop: true
    })
  </script>

  {{ super() }}
{% endblock %}
